<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- yarilab docs content -->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>press kit</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="shortcut icon" href="/static/ico/favicon.png">        
        <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/docs.css" rel="stylesheet" type="text/css" />        
        <link href="/static/dashboard/css/font-awesome.css" rel="stylesheet" type="text/css" />         
        <link href="/static/css/style.css" rel="stylesheet" type="text/css" />        
        <script src="/static/js/jquery-1.8.2.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>          
        <script src="/static/js/app.js"></script>  
        <script src="/static/js/jquery.nicescroll.min.js"></script>        
    </head>
    
    <body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">
        {% include "/header.html" %}
        <div class="container"> 
            <br>
            <div class="row-fluid">
                <div class="span8">
                    <h1>Press</h1>
                    <p>To set up an interview, please contact us in <b>press@yarilab.com</b></p>
                    <h3>Presss Kit</h3>
                </div>   
            </div>     
        </div>
      
        {% include "/footer.html" %}
    </body>
</html>                 
