<table width="565" style="border:none;padding:5px">
    <tbody><tr valign="top">
        <td width="65">
            
        <a href="http://www.yarilab.com/" target="_blank">
            <img border="0" src="..//static/img/mail_logo.png" alt="Yarilab">
        </a>        
        </td>
        <td width="485" style="vertical-align:middle;padding-left:10px">
            <h3 style="color:#000000;margin:0;padding:0;font-size:15px;line-height:1.2em;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
                Confirm your e-mail address
            </h3>
        </td>
    </tr>
    <tr>
        <td width="65">
            &nbsp;
        </td>
        <td width="485" style="padding:5px 0 10px 10px">
            <div style="font-size:12px;line-height:1.4em;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
                Hi Amine Ayari,<br><br>Please follow this link to confirm that this e-mail address (<a href="mailto:yarimastering@gmail.com" target="_blank">yarimastering@gmail.com</a>) is yours.<br><br><a href="https://www.quora.com/signup/confirm_email?code=uuaqahepbklskwioayxrpwemphjufhge" target="_blank">https://www.quora.com/signup/<wbr>confirm_email?code=<wbr>uuaqahepbklskwioayxrpwemphjufh<wbr>ge</a><br><br>Thanks,<br>The Yarilab Team<br>

            </div>
        </td>
    </tr>
    <tr>
        <td width="65">
            &nbsp;
        </td>
        <td width="485" style="padding:10px 0 0 10px;border-top:1px solid #eaeaea">
            <div style="font-size:10px;color:#999;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">                
                <br>
                <div>This email was sent by <a href="http://www.yarilab.com" target="_blank">Yarilab</a></div>
            </div>
        </td>
    </tr>
</tbody></table>
